 @import "glyphicon.less";
 
 @font-face {
	font-family: 'LauncherFont';
	src: url('app://me/assets/fonts/LauncherFont.woff2') format('woff2');
	font-weight: 100;
	font-style: normal;
}

body {
	font-family: 'LauncherFont';
	background: #212121;
	color: white;
	font-size: 0.8em;
}

@media (min-width: 1400px) {
    #main {
        width: 1400px;
        margin-left: auto;
        margin-right: auto;
    }
}