 @font-face {
	font-family: 'glyphs';
	src: url('app://me/assets/fonts/iconfont.woff') format('woff');
}

.glyph {
	display: inline;
	font-size: 0.8em;
	font-family: 'glyphs';
	padding-left: 0.5em;
}

.glyph-pencil:before {
	content: '\e900';
}

.glyph-happy:before {
	content: '\e902';
}

.glyph-star:before {
	content: '\e903';
}	
 
 @font-face {
	font-family: 'LauncherFont';
	src: url('app://me/assets/fonts/LauncherFont.woff2') format('woff2');
	font-weight: 100;
	font-style: normal;
}

body {
	font-family: 'LauncherFont';
	background: #212121;
	color: white;
	font-size: 0.8em;
	margin: 0;
}


#main {
	max-width: 1400px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
}

.categorylist {
	width: 100%;
	margin: 16px;
	.wrapper {
	}
	
	ul {
		width: 100%;
		list-style-type: none;
		-webkit-padding-start: 0;
		text-align: center;
		overflow: auto;
		
		li {
			display: inline-block;
			vertical-align: top;
			text-align: left;
			width: 130px;
			height: 160px;
			margin: 16px;
			position: relative;
			
			img {
				width: 130px;
				height: 130px;
				box-shadow: 2px 2px 2px black;
			}
						
			.price {
				font-size: 1.2em;
				position: absolute;
				top: 80px;
				right: 0px;
				padding: 2px 4px 2px 2px;
				width: auto;
				height: 18px;
				text-align: right;
				background: rgba(50,100,255,0.8);
			}
			
			.raters {
				position: absolute;
				top: 102px;
				right: 0px;
				padding: 2px 4px 2px 2px;
				width: auto;
				text-align: right;
				background: rgba(255,100,50,0.8);
			}
		}
	}
	br {
		clear: left;
	}
}

#toolbar {
	background-color: #111;
	height: 50px;
	box-shadow: 2px 2px 2px black;
	width: 100%;
	position: fixed;
	top: 0px;
	
	.nav {
		float: left;
		height: 100%;
		width: 800px;
		text-align: center;
		span {
			float: left;
			padding-left: 24px;
			padding-right: 24px;
			line-height: 50px;
		}
		ul {
			width: 100%;
			list-style-type: none;
			-webkit-padding-start: 0;
			-webkit-margin-before: 0em;
			-webkit-margin-after: 0em;
			text-align: center;
			
			li {
				float: left;
				height: 25px;
				padding-right: 24px;
				line-height: 25px;
				
				
				a {
					text-decoration: none;
					color: white;
				}
			}
		}
	}
	
	.filters {
		float: right;
		height: 100%;
		width: auto;
		text-align: right;
		padding-right: 24px;
		line-height: 50px;
		
		
		label {
			padding-left: 24px;
			padding-right: 4px;
		}
	}
}

.jumptarget:before {
  content:"";
  display:block;
  height:50px; /* fixed header height*/
  margin:-50px 0 0; /* negative fixed header height */
}